<br>
<br>
<div class="container bg-light" id="container" >
    <p id="ptext">Test Your Skills Today for a Better Future<br>
    For each Correct Answer +10 points and for IncorrectAnswer -10 points<br>
    Choose the language to get Tested
    </p>
    <div id="buttons">
    <button routerLink="/java">JAVA</button><br><br>
    <button  routerLink="/angular">ANGULAR</button><br><br>
    <button  routerLink="/html">HTML</button><br><br>
    <button routerLink="/javascript">JAVASCRIPT</button>
    </div>
</div>